.wrap {
  display: flex;
  flex-direction: column;
  max-height: 644px;
  min-height: 540px;
  width: 700px;
  padding: 32px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 41px 0;
}

.title {
  font: normal bold 28px/100% Roboto;
}

.items_section {
  display: flex;
  flex-direction: column;
  max-height: auto;
  flex-grow: 1;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}
